# ComfyUI Settings
NEXT_PUBLIC_COMFY_API_URL=http://127.0.0.1:8188
NEXT_PUBLIC_COMFY_MODEL=flux1-schnell-Q4_K_S.gguf
NEXT_PUBLIC_FLUX_CLIP_1=clip_l.safetensors
NEXT_PUBLIC_FLUX_CLIP_2=t5xxl_fp8_e4m3fn.safetensors
NEXT_PUBLIC_FLUX_VAE=ae.safetensors
NEXT_PUBLIC_FLUX_MAX_SHIFT=1.15
NEXT_PUBLIC_FLUX_BASE_SHIFT=0.5
NEXT_PUBLIC_FLUX_WIDTH=1024
NEXT_PUBLIC_FLUX_HEIGHT=1024

# Stars (if needed)
NEXT_PUBLIC_STARS_PER_GENERATION=1

# Loading videos (optional)
NEXT_PUBLIC_LOADING_VIDEOS=[]
NEXT_PUBLIC_LOADING_PROVIDER=pixabay
NEXT_PUBLIC_LOADING_QUERY=ai videos
NEXT_PUBLIC_LOADING_INTERVAL_MS=5000
